<div ng-app='galleryExploreApp'>
  <h1>Gallery Explore</h1>
  <div class="navigation">
    <ul>
      <li><a href="#/" class="index">Explore</a></li>
      <li><a href="#/create" class="create">Create New Tour</a></li>
<!--       <li><a href="#/login" class="login">Login</a></li>
      <li><a href="#/register" class="register">Register</a></li> -->
     </ul>
  </div>
  <div id="container">
    <div ng-view></div>
  </div>
</div>