<div ng-app='galleryExploreApp'>
  <div id='content'>

  <div class="navbar navbar-default navigation">
    <div>
      <ul class="nav navbar-nav navbar-left navigation">
        <li><a href="#/" class="name">Gallery Explore</a></li>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right navigation">
        <li><a href="#/" class="index">Explore Images</a></li>
        <li><a href="#/tours" class="tours">View Tours</a></li>
        <li><a href="#/create" class="create">Create New Tour</a></li>
    </div>
  </div>

  <div id='outerContainer'>
    <div class="container">
      <div ng-view></div>
    </div>
  </div>

</div>
