<html>
<head>
  <title>Gallery Explore</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <%= yield %>
  <script src="/lib/angular.js"></script>
  <script src="/lib/angular-route.js"></script>
  <script src="/lib/angular-cookies.js"></script>
  <script src="/client/app.js"></script>
  <script src="/client/config.js"></script>
  <script src="/client/imagegallery.js"></script>
  <script src="/client/imagedetails.js"></script>
  <script src="/client/tourview.js"></script>
  <script src="/client/onetourview.js"></script>
  <script src="/client/tourcreate.js"></script>
</body>
</html>
