<!doctype html>
<html>
<head>
  <title>Gallery Explore</title>
  <link rel='stylesheet' href='../styles/bootstrapDist/css/bootstrap.css'>
  <!-- <link rel='stylesheet' href='../styles/bootstrapDist/fonts/'> -->
  <!-- <link href="/public_html/wp-content/themes/bs3theme/bootstrap-glyphicons.css" rel="stylesheet"> -->
  <link rel='stylesheet' href='../styles/style.css'>
  <base href='/'>
</head>
<body>
  <%= yield %>
  <script src='/lib/angular.js'></script>
  <script src='/lib/angular-route.js'></script>
  <script src='/lib/angular-cookies.js'></script>
  <script src='/client/app.js'></script>
  <script src='/client/config.js'></script>
  <script src='/client/imageServices.js'></script>
  <script src='/client/imagegallery.js'></script>
  <script src='/client/imagedetails.js'></script>
  <script src='/client/details.js'></script>
  <script src='/client/tourview.js'></script>
  <script src='/client/onetourview.js'></script>
  <script src='/client/tourcreate.js'></script>
</body>
</html>
