body {
  margin: 0;
  margin-top: 10px;
  font-family: arial, sans-serif;
}

a {
  /*color: #333;*/
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}

h1 {
  font-style: italic;
  margin-bottom: 10px;
}

.imagegallery {
  border: 5px solid #456347;
  width:90%;
  padding: 1em 0 0.08em;
  position: absolute;
  left: 4px;
}

.imagelist li {
  cursor: pointer;
  display: inline-block;
  height: 100px;
  margin: 8 8px;
  position: relative;
  width: 100px;
  overflow: hidden;
}

.imagelist li img {
  width:100%;
}

.tourcreateimages {
  border: 5px solid #456347;
  width:20%;
  padding: 1em 0 0.08em;
  position: absolute;
  left: 4px;
  float:left;
}

.tourimagelist li {
  cursor: pointer;
  display: inline-block;
  height: 120px;
  margin: 8 8px;
  position: relative;
  width: 120px;
  overflow: hidden;
}

.tourcreateform {
  border: 5px solid #456347;
  width:70%;
  padding: 1em 0 0.08em;
  position: absolute;
  right: 4px;
  float:right;
 
}

.tourimagelist li img {
  width:100%;
}

.detailimg {
  /*height: 600px;*/
  /*width: auto;*/
  max-width:800px;
  max-height: 600px;
  /*height:auto;*/
  /*max-height: 80%;*/
  overflow: hidden;
}

.detailtable td {
  vertical-align: top;
  border-style: solid;
  border-color: #456347;
  border-width: 5px;
}

.tourview {
/*  margin: 3px 0;
  min-height: 60px;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #456347;
  left: px;*/
  margin: auto;
  /*margin-right: auto;*/

}

.tourtitle {
/*  padding-left: 10px;
  font-size: 2em;
  color: #456347;
*/
  text-align: center;
}


.tourmuseum {
  float:right;
}

.navigation {
  width: 100%;
  height: 40px;
  /*background-color: #eee;*/
  background-color: #456347;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
}

.navigation li a {
  width: 120px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
}

.navigation li a:hover {
  /*background-color: #ddd;*/
  background-color: #304531;
}

.navigation li a.selected {
  /*background-color: #ccc;*/
  background-color: #304531;
}

#container {
  clear: both;
  margin-top: 10px;
}

.link {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 50px;
}

.link:hover {
  background-color: #efe;
}

.link img {
  float: left;
  margin: 0 5px;
}

.link .visits {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}

.link .visits .count {
  font-size: 46px;
  font-weight: 600;
}

.link .title {
  font-weight: 600;
}

.link .original {
  color: #aaa;
  font-size: 12px;
}

.link .info {
  margin-left: 55px;
}

form {
  margin: 10px;
}

form input[type=text] {
  width: 360px;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
}

.error {
  background-color: #fee;
  color: #a33;
  padding: 10px;
  margin: 0 10px;
}

.creator {
  height: 50px;
}

.creator form {
  float: left;
  height: 80px;
}

.creator img.spinner {
  height: 46px;
  margin-bottom: 5px;
  padding: 10px;
  display: none;
}

.creator .message {
  clear: both;
}