

<div class='container imagedetails' ng-controller='ImageDetailsController'>

<form name="includeImage">
	<!-- Include in Create New Tour:  -->
	<!-- <input type="checkbox" checklist-model='image.checked'> -->
	<button ng-click="addImage(image)">Include in Create New Tour</button>

</form>

<table class="detailtable">
	<tr>
		<td>
		 <img class="detailimg" ng-src="{{ image.src }}"/>
		</td>
		<td valign="top">
			<p><b>Collection:</b> {{ image.collection }}</p>
			<p><b>Description:</b> {{ image.desc }}</p>
			<p><b>Cultural Group:</b> {{ image.artist}} {{ image.culture }} <p> 
			<p><b>Country of Origin:</b> {{ image.country }}</p>
			<p><b>Tags:</b> {{ image.tags }}</p>

				<!-- <form> -->
					<button ng-click="addTag(tag, image.src)">Add a Tag</button>
					<input type='text' ng-model='tag'/>
				<!-- </form> -->

			<p><b>Included in the Following Tours:</b>
				<ul>
					<!-- <li>{{ research }}</li> -->
				</ul>
			</p>
		</td>
		<td>
			Research Papers:
				<ul>
					<li ng-repeat="r in image.research" ng-click="showDoc(r.path)">
						<!-- <a ng-href='{{ r.path }}'> -->
							{{ r.name }}
						<!-- </a> -->
					</li>
				</ul>
		</td>
	</tr>
</div>

