<div class='container onetourview' ng-controller='OneTourViewController'>

<h3>Oceania - Three Pieces in 30 Minutes</h3>
<table class='onetourtable'>

	<tr>
		<td>
			<img class='onetourimg' src="../images/l05-1-67.jpg"/>
		</td>
		<td>
			<h4>Female Suspension Hook</h4>
			<h4>Talking Points</h4>
			<ul>
				<li>Suspension hooks: function and ceremony</li>
				<li>Visual elements: face, hair, crocodile skin, articulated spine</li>
				<li>The Kaningara and the mother-crocodile</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>
			<img class='onetourimg' src="../images/2007-44-79.jpg"/>			
		</td>
		<td>
			<h4>Transition Piece </h4>
			<ul>
				<li>String bags hang from suspension hooks</li>
				<li>Function and Ceremony</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>
			<img class='onetourimg' src="../images/2000-172-1.jpg"/>			
		</td>
		<td>
			<h4>Yipwon</h4>
			<h4>Talking Points</h4>
			<ul>
				<li>Yimam Creation Story and Hunting Spirit</li>
				<li>Men's Ceremonial Houses</li>
				<li>Tie to Surrealist Movement</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>
			<img class='onetourimg' src="../images/2001-62-9.jpg"/>			
		</td>
		<td>
			<h4>Transition Piece </h4>
			<ul>
				<li>First Yipwon made from a slit drum</li>
				<li>Ceremonial uses of slit drum</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>
			<img class='onetourimg' src="../images/l05-1-19.jpg"/>			
		</td>
		<td>
			<h4>Female House Post</h4>
			<h4>Talking Points</h4>
			<ul>
				<li>Figure Hidden in Lake Sentani</li>
				<li>Visual aspect: expression, body, stance  </li>
				<li>Called "The Hunchback" by its first collectors - a tropical tumor?</li>
				<li>Tie to Surrealist Movement</li>
			</ul>
		</td>
	</tr>

	<tr>
		<td>
		</td>
		<td>
		</td>
	</tr>

</table>


</div>
