<div class='container tourcreate' ng-controller='TourCreateController'>

	<div class='tourcreateimages' ng-init='orderBy=image.order; reverse=true'>
	 <h3>Create Your Tour: {{ tourname }}</h3>
	 		<input type='text'  ng-model='tourname' name='tournameform' placeholder='Name Your New Tour'/>
	 		<button class='btn btn-default btn-sm' ng-click='submitName(tourname)'>Submit</button><br>
	 		<br>

	 		<span>{{ message }}</span>

	 		<div ng-repeat='image in tourimages | orderBy:getOrder' class='tourimagelist'>
	 			<input type='number' ng-model='order' min='0' max='15' placeholder='{{ image.order }}'/>
	 			<button class='btn btn-default btn-sm' ng-click='changeOrder(order, image.id)'>Change Order</button>
	 			<button class='btn btn-default btn-sm removeimagebutton' ng-click='removeImage(image)'>Remove This Image From Tour</button>
	 			<image-details></image-details>
	 		</div>

	</div>
</div>
