body {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  margin: 24px 30px;
  background-color: #f6f7f8;
  min-height: 100%;
  min-width: 600px;
  /*background-image: url('grey.jpg');*/
}

a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}

h1 {
  margin-bottom: 10px;
  color: #304531;
}

.btn {
  margin: 5px;
}

/* Nav Bar */

.navigation {
  background-color: #456347;
}

.navigation li a:hover {
  color: #ffffff;
  background-color: #304531;
  text-decoration: none;
}

.navbar-nav li:hover{
  background-color: #304531;
}

.navigation li a.selected {
  background-color: #304531;
}

.name {
  font-size: 24px;
}

.navbar-nav li a {
  line-height: 33px;
}

.navbar-search {
  border-radius: 18px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #304531;
}

/* Image Details Row Directive */

.row {
  margin: 10px;
}

/* Image Gallery */

.container,
.tourview,
.imagedetails,
.tourcreate,
.onetourview {
  min-width: 600px;
  border-radius: 18px;
  -moz-border-radius: 18px;
  margin: 24px 30px;
  padding-bottom: 10px;
  position: relative;
  clear: both;
}

.imagegallery,
.imagedetails,
.tourcreate,
.onetourview {
  border: 5px solid #456347;
  width:90%;
  padding: 1em 0 0.08em;
  position: absolute;
  background: white;
  margin: 0;
  margin-bottom: 10px;
}

.imagelist li {
  cursor: pointer;
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 8 8px;
  position: relative;
  overflow: hidden;
}

.imagelist li img {
  width:100%;
}

/* Image Details */

.imagedetails {
  margin: 0;
}

.detailedimage {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.detailedinfo {
  width: 20%px;
  display: inline-block;
}

.detailimg {
  max-width: 500px;
  max-height: 450px;
  display: inline-block;
}

/* Tour Creation */

.tourimagelist {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 30px;
  border: 1px solid #456347;
  border-radius: 10px;
}

/* Tour View List */

.tourview {
  margin: auto;
}

.tourviewlist {
  background: #456347;
  margin:0;
  color: white;
  width: 90%;
  min-height: 60px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #E0E0E0;
}

.tourviewlist:hover{
  background-color: #304531;
  cursor: pointer;
}

.tourtitle{
  color: #ffffff;
  font-size: 2em;
}


#container {
  clear: both;
  margin-top: 10px;
}

.link {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 50px;
}

.link:hover {
  background-color: #efe;
}

.link img {
  float: left;
  margin: 0 5px;
}

.link .visits {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}

.link .visits .count {
  font-size: 46px;
  font-weight: 600;
}

.link .title {
  font-weight: 600;
}

.link .original {
  color: #aaa;
  font-size: 12px;
}

.link .info {
  margin-left: 55px;
}

form {
  margin: 10px;
}

form input[type=text] {
  width: 360px;
}

form input[type=search] {
  width: 360px;
}

form input:active {

}

.error {
  background-color: #fee;
  color: #a33;
  padding: 10px;
  margin: 0 10px;
}

* {
  box-sizing: inherit;
}
