body {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  margin: 24px 30px;
  /*background: #f5f5f5;*/
  /*background: #304531;*/
  background-color: #f6f7f8;
  min-height: 100%;
  min-width: 600px;
  /*background-image: url("http://static.kapsul.org/img/4dots.png");*/
  /*background-image: url('grey.jpg');*/
}

a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}

/*a:hover {
  color: #ffffff !important;  
*/}

h1 {
  margin-bottom: 10px;
  color: #304531;
}

.btn {
  margin: 5px;
  /*border-radius: 10px;*/

}

/* Nav Bar */

.navigation {
  background-color: #456347;
}

.navigation li a:hover {
  color: #ffffff;
  background-color: #304531;
  text-decoration: none;
}

.navbar-nav li:hover{
  background-color: #304531;
}

.navigation li a.selected {
  background-color: #304531;
}

.name {
  font-size: 24px;
}

.navbar-nav li a {
  line-height: 33px;
}

.navbar-search {
  border-radius: 18px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #304531;
}


/* Image Gallery */

.container,
.tourview,
.imagedetails {
  /*background: #e7e7e7;*/
  min-width: 600px;
  border-radius: 18px;
  -moz-border-radius: 18px;
  margin: 24px 30px;
  /*margin-bottom: 30px;*/
  padding-bottom: 10px;
  position: relative;
  clear: both;
}

.imagegallery {
  border: 5px solid #456347;
  width:90%;
  padding: 1em 0 0.08em;
  position: absolute;
  background: white;
  /*left: 4px;*/
  margin: 0;
  margin-bottom: 10px;
  /*margin: 24px 30px;*/
}

.imagelist li {
  cursor: pointer;
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 8 8px;
  position: relative;
  overflow: hidden;
}

.imagelist li img {
  width:100%;
}

/* Image Details */

.imagedetails {
  margin: 0;
}

.detailedimage {
  width: 40%;
  display: inline-block;
}

.detailedinfo {
  width: 20%px;
  display: inline-block;
}

.detailimg {
  max-width: 600px;
  max-height: 450px;
  /*overflow: hidden;*/
  display: inline-block;
}

/*.details {
  display: inline-block;
}
*/

/* Tour Creation */

.tourcreateimages {
  border: 5px solid #456347;
  width:80%;
  padding: 1em 0 0.08em;
  position: absolute;
  left: 4px;
  float:left;
}

.tourcreateform {
  border: 5px solid #456347;
  width:70%;
  padding: 1em 0 0.08em;
  position: absolute;
  right: 4px;
  float:right;
 
}

.tourimagelist {
  clear: both;
  margin: 8px;
  border: 5px solid #456347;
}

.tourimagelist img {
  height: auto;
  margin-right: 8px;
  margin-bottom: 8px;
  width: 150px;
  float: left;
  overflow: hidden;
  border: 5px solid #456347;
}

.tourimageform {
  width: 300px;
  /*border: 1px solid red;*/
  min-height: 365px;
  float: left;
}


/* Tour View List */

.tourview {
  margin: auto;
}

.tourviewlist {
  background: #456347;
  margin:0;
  color: white;
  width: 90%;
  /*margin: 3px 0;*/
  min-height: 60px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #E0E0E0;
}

.tourviewlist:hover{
  background-color: #304531;
  cursor: pointer;
}

.tourtitle{
  color: #ffffff;
  /*padding-left: 10px;*/
  font-size: 2em;

  /*display: block;*/
  /*border: 1px solid #456347;*/
}















.onetourimg {
  width:300px;
  height: auto;
  overflow: hidden;
}

.onetourtable td {
  vertical-align: top;
  border-style: solid;
  border-color: #456347;
  border-width: 5px;
}

.onetourtable h4 {
  font-weight: bold;
}



.tourmuseum {
  float:right;
}


#container {
  clear: both;
  margin-top: 10px;
}

.link {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 50px;
}

.link:hover {
  background-color: #efe;
}

.link img {
  float: left;
  margin: 0 5px;
}

.link .visits {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}

.link .visits .count {
  font-size: 46px;
  font-weight: 600;
}

.link .title {
  font-weight: 600;
}

.link .original {
  color: #aaa;
  font-size: 12px;
}

.link .info {
  margin-left: 55px;
}

form {
  margin: 10px;
}

form input[type=text] {
  width: 360px;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
}

.error {
  background-color: #fee;
  color: #a33;
  padding: 10px;
  margin: 0 10px;
}

.creator {
  height: 50px;
}

.creator form {
  float: left;
  height: 80px;
}

.creator img.spinner {
  height: 46px;
  margin-bottom: 5px;
  padding: 10px;
  display: none;
}

.creator .message {
  clear: both;
}

* {
  box-sizing: inherit;
}
