body {
  margin: 0;
  margin-top: 10px;
  font-family: arial, sans-serif;

}

a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}

h1 {
  margin-bottom: 10px;
  color: #304531;
}

.imagegallery {
  border: 5px solid #456347;
  width:90%;
  padding: 1em 0 0.08em;
  position: absolute;
  left: 4px;
}

.imagelist li {
  cursor: pointer;
  display: inline-block;
  height: 100px;
  margin: 8 8px;
  position: relative;
  width: 100px;
  overflow: hidden;
}

.imagelist li img {
  width:100%;
}

.tourcreateimages {
  border: 5px solid #456347;
  width:80%;
  padding: 1em 0 0.08em;
  position: absolute;
  left: 4px;
  float:left;
}

.tourcreateform {
  border: 5px solid #456347;
  width:70%;
  padding: 1em 0 0.08em;
  position: absolute;
  right: 4px;
  float:right;
 
}

.tourimagelist {
  clear: both;
  margin: 8px;
  border: 5px solid #456347;
}

.tourimagelist img {
  height: auto;
  margin-right: 8px;
  margin-bottom: 8px;
  width: 150px;
  float: left;
  overflow: hidden;
  border: 5px solid #456347;
}

.tourimageform {
  width: 300px;
  /*border: 1px solid red;*/
  min-height: 365px;
  float: left;
}

.tourtitle {
  display: block;
  border: 1px solid #456347;
}

.tourviewlist {
}

.detailimg {
  max-width:800px;
  max-height: 600px;
  overflow: hidden;
}

.onetourimg {
  width:300px;
  height: auto;
  overflow: hidden;
}

.onetourtable td {
  vertical-align: top;
  border-style: solid;
  border-color: #456347;
  border-width: 5px;
}

.onetourtable h4 {
  font-weight: bold;
}

.detailtable td {
  vertical-align: top;
  border-style: solid;
  border-color: #456347;
  border-width: 5px;
}

.tourview {
  margin: auto;
}

.tourmuseum {
  float:right;
}

.navigation {
  background-color: #456347;
}

.navigation li a:hover {
  background-color: #304531;
}

.navigation li a.selected {
  background-color: #304531;
}

.nav li a:hover,
.nav li a:focus {
  text-decoration: none;
  background-color: #304531;
}

#container {
  clear: both;
  margin-top: 10px;
}

.link {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 50px;
}

.link:hover {
  background-color: #efe;
}

.link img {
  float: left;
  margin: 0 5px;
}

.link .visits {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}

.link .visits .count {
  font-size: 46px;
  font-weight: 600;
}

.link .title {
  font-weight: 600;
}

.link .original {
  color: #aaa;
  font-size: 12px;
}

.link .info {
  margin-left: 55px;
}

form {
  margin: 10px;
}

form input[type=text] {
  width: 360px;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
}

.error {
  background-color: #fee;
  color: #a33;
  padding: 10px;
  margin: 0 10px;
}

.creator {
  height: 50px;
}

.creator form {
  float: left;
  height: 80px;
}

.creator img.spinner {
  height: 46px;
  margin-bottom: 5px;
  padding: 10px;
  display: none;
}

.creator .message {
  clear: both;
}

* {
  box-sizing: inherit;
}
